CTFd/themes/**/vendor/
CTFd/themes/core/
CTFd/themes/core-beta/**/*
CTFd/themes/admin/static/**/*
CTFd/themes/tsc/**/*
*.html
*.njk
*.png
*.svg
*.ico
*.ai
*.svg
*.mp3
*.webm
*.ttf
*.woff
*.jpg
.pytest_cache
venv*
.venv*
