{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <img class="w-100 mx-auto d-block" style="max-width: 500px;padding: 50px;padding-top: 14vh;" src="{{ url_for('views.themes', theme='tsc', path='img/logo.png') }}" />
        <h3 class="text-center">
            <a href="https://www.facebook.com/profile.php?id=61552584062920&locale=zh_TW"><i class="fab fa-facebook fa-2x" aria-hidden="true"></i></a>&nbsp;
            <a href="https://discord.gg/2NuK5XKYP3"><i class="fab fa-discord fa-2x" style="color: #7289da;" aria-hidden="true"></i></a>&nbsp;
            <a href="https://discord.gg/2NuK5XKYP3"><i class="fab fa-instagram fa-2x" style="color: #E1306C;" aria-hidden="true"></i></a>&nbsp;
        </h3>
        <br>

    </div>
</div>
<h1 class="text-center">
    <p>Sponsors</p>
</h1>
<div style="display: inline-flex;justify-content: center; align-items: center;width: 100%;">
    <a style="margin: 2%; cursor: pointer;" onclick="window.open(`{{ url_for('views.themes', theme='tsc', path='img/1資安署中英文簡介.pdf') }}`,'popup','width=600,height=600');">
        <img width="300px" src="{{ url_for('views.themes', theme='tsc', path='img/logos/資安署_logo.png') }}">
    </a>
    <a style="margin: 2%; cursor: pointer;" onclick="window.open(`{{ url_for('views.themes', theme='tsc', path='img/2資安院中英文簡介.pdf') }}`,'popup','width=600,height=600');">
        <img width="300px" src="{{ url_for('views.themes', theme='tsc', path='img/logos/資安院_logo.png') }}">
    </a>
    <a style="margin: 1%;" target="_blank" href="https://www.nchc.org.tw/"><img width="300px" src="{{ url_for('views.themes', theme='tsc', path='img/logos/國網中心_logo.png') }}"></a>
</div>
<div style="display: inline-flex;justify-content: center; align-items: center;width: 100%;">
    <a target="_blank" href="https://trapa.tw/"><img width="100px" src="{{ url_for('views.themes', theme='tsc', path='img/logos/TRAPA_logo.png') }}"></a>
    <a style="margin-left: 2%;" target="_blank" href="https://teamt5.org/"><img width="300px" src="{{ url_for('views.themes', theme='tsc', path='img/logos/TeamT5_logo.png') }}"></a>
    <a style="margin-left: 2%;" target="_blank" href="https://authme.com/zh_tw/"><img style="vertical-align: baseline;" width="250px" src="{{ url_for('views.themes', theme='tsc', path='img/logos/Authme_logo.png') }}"></a>
    <a style="margin-left: 2%;" target="_blank" href="https://www.trendmicro.com/zh_tw/about/careers.html"><img width="250px" src="{{ url_for('views.themes', theme='tsc', path='img/logos/TrendMircro.png') }}"></a>
    <a style="margin-left: 2%;" target="_blank" href="https://www.zerone.com.tw/"><img width="300px" src="{{ url_for('views.themes', theme='tsc', path='img/logos/零壹科技_logo.jpg') }}"></a>

</div>
<div style="display: inline-flex;justify-content: center; align-items: center;width: 100%;">
    <a target="_blank" href="https://www.issdu.com.tw/"><img width="270px" src="{{ url_for('views.themes', theme='tsc', path='img/logos/數聯資安_logo.png') }}"></a>
    <a style="margin-left: 2%;" target="_blank" href="https://www.chtsecurity.com/"><img style="margin: auto;" width="300px" src="{{ url_for('views.themes', theme='tsc', path='img/logos/中華資安_logo.png') }}"></a>
</div>
<div style="display: inline-flex;justify-content: center; align-items: center;width: 100%;">
    <h3>微軟全球助理法務長及台灣微軟公共暨法律事務部總經理 施立成</h3>
</div>

{% endblock %}